<div class="container ">

    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardContainer" *ngFor="let producto of listaProductos">

            <mat-card class="example-card " class="card-style">

                <mat-card-header>
                    <mat-card-title>{{producto.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{producto.nombreSubcategoria}}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src="{{rutaImg}}{{producto.imagenes[0].nombre}}-med.jpg" alt="{{producto.nombre}}"
                    class="img-card">

                <mat-card-content class="precio">
                    <p>
                        ${{producto.precio}} <!-- TO-DO FILTRO DE PRECION $ 1.000,00 -->
                    </p>
                </mat-card-content>

                <mat-card-actions>

                    <div>

                        <button type="button" mat-icon-button (click)="counterMinus(producto.id_producto)">
                            <span class="material-icons cart-icon">
                                remove
                            </span>
                        </button>


                        <span>{{ cantidadDeProductoEnCarrito(producto.id_producto) }}</span>
                        
                        <button type="button" mat-icon-button (click)="counterAdd(producto.id_producto)">
                            <span class="material-icons cart-icon">
                                add
                            </span>
                        </button>


                    </div>


                </mat-card-actions>

            </mat-card>




        </div>

    </div>




</div>