<mat-drawer-container class="example-container" autosize>

    <!-- SIDEBAR -->
    <mat-drawer [opened]="false" #drawer class="example-sidenav" mode="side">

        <mat-nav-list>
            <ng-container *ngFor="let link of links">
                <a [routerLink]="['/'+link.url]" mat-list-item>
                    {{link.title}}
                </a>
            </ng-container>

            <a (click)="logOut()" mat-list-item>
                Cerrar sesión
            </a>
        </mat-nav-list>

        <app-filtro></app-filtro>


    </mat-drawer>
    <!-- FIN SIDEBAR -->


    <!-- TOOLBAR -->
    <div class="example-sidenav-content ">
        <mat-toolbar color="primary" class="sticky toolbar">
            <div class="div.flex.justify-content-bewteen">

                <button type="button" (click)="drawer.toggle()" mat-icon-button class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="plataforma">COMPRA GAMER </span>

                <button type="button" mat-icon-button class="example-icon">Iniciar sesión</button>

                <button mat-button [matMenuTriggerFor]="belowMenu" mat-button class="material-icons cart-icon">
                    
                    <mat-icon matBadge="{{calcularCantidadTotalEnCarrito()}}" matBadgeColor="warn">shopping_cart</mat-icon>

                    <mat-menu #belowMenu="matMenu" yPosition="below">
                        <app-carrito-compras></app-carrito-compras>
                    </mat-menu>

                </button>


            </div>


        </mat-toolbar>
        <!-- FIN TOOLBAR -->


        <!-- CUERPO DE LA PAGINA - Utilizando router-->
        <main>
            <!-- <router-outlet></router-outlet> -->
            <app-lista-productos></app-lista-productos>
        </main>
    </div>

</mat-drawer-container>