mat-toolbar{
  background-color: rgb(158, 44, 181);
  color: white
}

.plataforma {
  position: absolute;
  left: calc( (100vw - 160px) / 2)
}

.toolbar {
  z-index: 9999;
}

.btn-iniciar{
  font-size: small;

}
.mat-toolbar-row, .mat-toolbar-single-row {
  align-items: normal;
  padding-top: 15px;
}
